:root {
    --white:#fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0919;
    --color-sec: #db6400;
    --color-grey: #ddd;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    font-size: 11px;
}

p{
    font-size: 13px;
}

nav{
    background-color: #444a46;
}

.fa-github{
    color: var(--white);
    font-size: 28px;
}

::placeholder{
    color: var(--white);
}

#section-select{
    background-color: var(--white);
}

/* Radio checked */

input[type=radio]{
    display: none;
}

.content {
    display: none;
}

#first-select:checked ~ .contribution-bd{
    display: block;
}

#first-select:checked ~ .content-overview{
    display: grid;
    grid-template-columns: repeat(2, minmax(25rem,1fr));
    row-gap: 2rem;
    column-gap: 0.5rem;
}

#second-select:checked ~ .content-repo {
    display: block;
}

label{
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

/* end */






